@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.coin-app {
  padding: 60px 200px;
}

.coin-search {
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .coin-text {
    text-transform: uppercase;
  }
}
input {
  margin-top: 20px;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  width: 50rem;
  height: 2rem;
  font-size: 2rem;
  font-weight: 600;
}
a {
  text-decoration: none;
}

.coin-title {
  display: flex;
  align-items: center;
  margin: 0 40px;
  justify-content: left;
}

.coin-title p {
  font-weight: 800;
}

p {
  width: 200px;
  display: flex;
  justify-content: start;
}

.coin-name-title {
  width: 340px;
}

.coin-percent-title {
  width: 100px;
}

.coin-marketcap-title {
  display: flex;
  justify-content: end;
}
